In [1]:
import pandas as pd
df = pd.read_csv("Training_set_values.csv")

In [2]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [3]:
df1 = pd.read_csv("Test_set_values.csv")
df1.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe

In [4]:
len(df)

59400

In [5]:
len(df1)

14850

In [6]:
df['amount_tsh'].value_counts()

0.0         41639
500.0        3102
50.0         2472
1000.0       1488
20.0         1463
            ...
8500.0          1
6300.0          1
220.0           1
138000.0        1
12.0            1
Name: amount_tsh, Length: 98, dtype: int64

In [7]:
df2 = pd.read_csv('Training_set_labels.csv')
df2.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [8]:
len(df2)

59400

In [9]:
df2['status_group'].value_counts()

functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

In [10]:
results = pd.merge(df, df2, how = 'inner', on = 'id'  )

In [11]:
results.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [12]:
results['water_quality'].value_counts()

soft                  50818
salty                  4856
unknown                1876
milky                   804
coloured                490
salty abandoned         339
fluoride                200
fluoride abandoned       17
Name: water_quality, dtype: int64

In [13]:
results.loc[results['water_quality']== 'fluoride', ['status_group']].value_counts()

status_group
functional                 151
non functional              36
functional needs repair     13
dtype: int64

In [14]:
results.loc[results['water_quality']== 'soft', ['status_group']].value_counts()

status_group
functional                 28760
non functional             18154
functional needs repair     3904
dtype: int64

In [15]:
results.loc[results['water_quality']== 'salty', ['status_group']].value_counts()

status_group
non functional             2411
functional                 2220
functional needs repair     225
dtype: int64

In [16]:
results.loc[results['water_quality']== 'milky', ['status_group']].value_counts()

status_group
functional                 438
non functional             352
functional needs repair     14
dtype: int64

In [17]:
results.loc[results['water_quality']== 'coloured', ['status_group']].value_counts()

status_group
functional                 246
non functional             190
functional needs repair     54
dtype: int64

In [18]:
from sklearn.preprocessing import OneHotEncoder
def onehotencoder(column_name, df):
    column_name_ohe = df[[column_name]]
    ohe = OneHotEncoder(categories = 'auto', sparse = False)
    ohe.fit(column_name_ohe)
    column_transformed = ohe.transform(column_name_ohe)
    column_encoded_ohe = pd.DataFrame(column_transformed, columns = ohe.get_feature_names([column_name]), index = df.index)
    return column_encoded_ohe

In [19]:
results['permit'].value_counts()

True     38852
False    17492
Name: permit, dtype: int64

In [20]:
results.loc[(results['permit'] == True),['status_group']].value_counts()

status_group
functional                 21541
non functional             14614
functional needs repair     2697
dtype: int64

In [21]:
results.loc[(results['permit'] == False),['status_group']].value_counts()

status_group
functional                 9045
non functional             7127
functional needs repair    1320
dtype: int64

In [22]:
# amount. gps, lat.lomg , comnst, pay, qualit, soucr, wat, per quant, id

In [23]:
results.columns

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group', 'status_group'],
      dtype='object')

In [24]:
results['date_recorded'].value_counts()
# dates recorded shows when the information was taken and so not very useful since it gives no 
# updates on whether the pump was worked on or not. therefore dropped

2011-03-15    572
2011-03-17    558
2013-02-03    546
2011-03-14    520
2011-03-16    513
             ...
2011-09-28      1
2011-09-12      1
2004-04-01      1
2013-12-01      1
2012-01-21      1
Name: date_recorded, Length: 356, dtype: int64

In [25]:
results['funder'].value_counts()

Government Of Tanzania    9084
Danida                    3114
Hesawa                    2202
Rwssp                     1374
World Bank                1349
                          ...
Leopad Abeid                 1
Muslim World                 1
Rdws                         1
Samweli Mshosha              1
Kigwa                        1
Name: funder, Length: 1897, dtype: int64

In [26]:
results.loc[(results['funder'] == 'Government Of Tanzania'),['status_group']].value_counts()

status_group
non functional             4663
functional                 3720
functional needs repair     701
dtype: int64

In [27]:
results.loc[(results['funder'] == 'Danida'),['status_group']].value_counts()

status_group
functional                 1713
non functional             1242
functional needs repair     159
dtype: int64

In [28]:
results.loc[(results['funder'] == 'Hesawa'),['status_group']].value_counts()

status_group
non functional             1034
functional                  936
functional needs repair     232
dtype: int64

In [29]:
results['basin'].value_counts()

Lake Victoria              10248
Pangani                     8940
Rufiji                      7976
Internal                    7785
Lake Tanganyika             6432
Wami / Ruvu                 5987
Lake Nyasa                  5085
Ruvuma / Southern Coast     4493
Lake Rukwa                  2454
Name: basin, dtype: int64

In [30]:
results['region'].value_counts()

Iringa           5294
Shinyanga        4982
Mbeya            4639
Kilimanjaro      4379
Morogoro         4006
Arusha           3350
Kagera           3316
Mwanza           3102
Kigoma           2816
Ruvuma           2640
Pwani            2635
Tanga            2547
Dodoma           2201
Singida          2093
Mara             1969
Tabora           1959
Rukwa            1808
Mtwara           1730
Manyara          1583
Lindi            1546
Dar es Salaam     805
Name: region, dtype: int64

In [31]:
results['region_code'].value_counts()

11    5300
17    5011
12    4639
3     4379
5     4040
18    3324
19    3047
2     3024
16    2816
10    2640
4     2513
1     2201
13    2093
14    1979
20    1969
15    1808
6     1609
21    1583
80    1238
60    1025
90     917
7      805
99     423
9      390
24     326
8      300
40       1
Name: region_code, dtype: int64

In [32]:
results['lga'].unique()

array(['Ludewa', 'Serengeti', 'Simanjiro', 'Nanyumbu', 'Karagwe',
       'Mkinga', 'Shinyanga Rural', 'Kahama', 'Tabora Urban', 'Mkuranga',
       'Namtumbo', 'Maswa', 'Siha', 'Meatu', 'Sumbawanga Rural', 'Njombe',
       'Ukerewe', 'Bariadi', 'Same', 'Kigoma Rural', 'Moshi Rural',
       'Lindi Rural', 'Rombo', 'Chamwino', 'Bagamoyo', 'Mafia',
       'Arusha Rural', 'Kyela', 'Kondoa', 'Kilolo', 'Kibondo', 'Makete',
       'Singida Rural', 'Masasi', 'Rungwe', 'Moshi Urban', 'Geita',
       'Mbulu', 'Bukoba Rural', 'Muheza', 'Lushoto', 'Meru', 'Iramba',
       'Kilombero', 'Mbarali', 'Kasulu', 'Bukoba Urban', 'Korogwe',
       'Bukombe', 'Morogoro Rural', 'Kishapu', 'Musoma Rural',
       'Sengerema', 'Iringa Rural', 'Muleba', 'Dodoma Urban', 'Ruangwa',
       'Hanang', 'Misenyi', 'Missungwi', 'Songea Rural', 'Tanga',
       'Tunduru', 'Hai', 'Mwanga', 'Chato', 'Biharamulo', 'Ileje',
       'Mpwapwa', 'Mvomero', 'Bunda', 'Kiteto', 'Longido', 'Urambo',
       'Mbozi', 'Sikonge', 'Ilala', 'Tarime', 'Temeke', 'Mbeya Rural',
       'Magu', 'Manyoni', 'Igunga', 'Kilosa', 'Babati', 'Chunya',
       'Mufindi', 'Mtwara Rural', 'Ngara', 'Karatu', 'Mpanda', 'Kibaha',
       'Singida Urban', 'Newala', 'Nzega', 'Nkasi', 'Bahi', 'Mbinga',
       'Ulanga', 'Sumbawanga Urban', 'Morogoro Urban', 'Tandahimba',
       'Kisarawe', 'Mtwara Urban', 'Kilwa', 'Liwale', 'Kongwa', 'Uyui',
       'Rufiji', 'Kwimba', 'Monduli', 'Shinyanga Urban', 'Ngorongoro',
       'Handeni', 'Rorya', 'Pangani', 'Lindi Urban', 'Nachingwea',
       'Kinondoni', 'Kigoma Urban', 'Ilemela', 'Kilindi', 'Arusha Urban',
       'Songea Urban', 'Nyamagana'], dtype=object)

In [33]:
results['population'].value_counts()

0       21381
1        7025
200      1940
150      1892
250      1681
        ...
3241        1
1960        1
1685        1
2248        1
1439        1
Name: population, Length: 1049, dtype: int64

In [34]:
results.loc[(results['population'] == 0),['status_group']].value_counts()

status_group
functional                 11274
non functional              8332
functional needs repair     1775
dtype: int64

In [35]:
results['management'].value_counts()

vwc                 40507
wug                  6515
water board          2933
wua                  2535
private operator     1971
parastatal           1768
water authority       904
other                 844
company               685
unknown               561
other - school         99
trust                  78
Name: management, dtype: int64

In [36]:
results.loc[(results['management'] == 'vwc'),['status_group']].value_counts()

status_group
functional                 20425
non functional             17291
functional needs repair     2791
dtype: int64

In [37]:
results['extraction_type'].value_counts()

gravity                      26780
nira/tanira                   8154
other                         6430
submersible                   4764
swn 80                        3670
mono                          2865
india mark ii                 2400
afridev                       1770
ksb                           1415
other - rope pump              451
other - swn 81                 229
windmill                       117
india mark iii                  98
cemo                            90
other - play pump               85
walimi                          48
climax                          32
other - mkulima/shinyanga        2
Name: extraction_type, dtype: int64

In [38]:
results['extraction_type_group'].value_counts()

gravity            26780
nira/tanira         8154
other               6430
submersible         6179
swn 80              3670
mono                2865
india mark ii       2400
afridev             1770
rope pump            451
other handpump       364
other motorpump      122
wind-powered         117
india mark iii        98
Name: extraction_type_group, dtype: int64

In [39]:
results['extraction_type_class'].value_counts()

gravity         26780
handpump        16456
other            6430
submersible      6179
motorpump        2987
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64

In [40]:
results.loc[(results['extraction_type_class'] == 'gravity'),['status_group']].value_counts()

status_group
functional                 16048
non functional              8031
functional needs repair     2701
dtype: int64

In [41]:
results['scheme_management'].value_counts()

VWC                 36793
WUG                  5206
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [42]:
results['management'].value_counts()

vwc                 40507
wug                  6515
water board          2933
wua                  2535
private operator     1971
parastatal           1768
water authority       904
other                 844
company               685
unknown               561
other - school         99
trust                  78
Name: management, dtype: int64

In [43]:
# replacing_dictionary = {'VWC': 'vwc' , 'WUG': 'wug', 'Water '}

In [44]:
results.loc[(results['scheme_management'] == ''),['status_group']].value_counts()

Series([], dtype: int64)

In [45]:
results['payment'].value_counts()

never pay                25348
pay per bucket            8985
pay monthly               8300
unknown                   8157
pay when scheme fails     3914
pay annually              3642
other                     1054
Name: payment, dtype: int64

In [46]:
results.loc[(results['payment'] == 'never pay'),['status_group']].value_counts()

status_group
non functional             12062
functional                 11379
functional needs repair     1907
dtype: int64

In [47]:
results['payment_type'].value_counts() #same as payment

never pay     25348
per bucket     8985
monthly        8300
unknown        8157
on failure     3914
annually       3642
other          1054
Name: payment_type, dtype: int64

In [48]:
results['water_quality'].value_counts()

soft                  50818
salty                  4856
unknown                1876
milky                   804
coloured                490
salty abandoned         339
fluoride                200
fluoride abandoned       17
Name: water_quality, dtype: int64

In [49]:
results.loc[(results['water_quality'] == 'soft'),['status_group']].value_counts()

status_group
functional                 28760
non functional             18154
functional needs repair     3904
dtype: int64

In [50]:
results['quality_group'].value_counts()

good        50818
salty        5195
unknown      1876
milky         804
colored       490
fluoride      217
Name: quality_group, dtype: int64

In [51]:
results['source'].value_counts()

spring                  17021
shallow well            16824
machine dbh             11075
river                    9612
rainwater harvesting     2295
hand dtw                  874
lake                      765
dam                       656
other                     212
unknown                    66
Name: source, dtype: int64

In [52]:
results.loc[(results['source'] == 'spring'),['status_group']].value_counts()

status_group
functional                 10592
non functional              5153
functional needs repair     1276
dtype: int64

In [53]:
results['source_type'].value_counts()

spring                  17021
shallow well            16824
borehole                11949
river/lake              10377
rainwater harvesting     2295
dam                       656
other                     278
Name: source_type, dtype: int64

In [54]:
results['source_class'].value_counts()

groundwater    45794
surface        13328
unknown          278
Name: source_class, dtype: int64

In [55]:
results.loc[(results['source_class'] == 'groundwater'),['status_group']].value_counts()

status_group
functional                 24835
non functional             18218
functional needs repair     2741
dtype: int64

In [56]:
results['waterpoint_type_group'].value_counts()

communal standpipe    34625
hand pump             17488
other                  6380
improved spring         784
cattle trough           116
dam                       7
Name: waterpoint_type_group, dtype: int64

In [57]:
results.loc[(results['public_meeting'] == True),['status_group']].value_counts()

status_group
functional                 28408
non functional             18884
functional needs repair     3719
dtype: int64

In [58]:
results['funder'].isna().sum()

3635

In [59]:
len(results['funder'].value_counts())

1897

In [60]:
# from sklearn.metrics import f1_score, confusion_matrix, recall_score, precision_score, accuracy_score
# from sklearn.neighbors import KNeighborsClassifier, NearestNeighbors

In [61]:
list_of_columns = ['funder', 'installer', 'basin', 'region_code', 'scheme_management', 'permit',  'payment', 'quality_group', 'source_class', 'public_meeting', 'status_group']

In [62]:
#list2 = =['funder', 'installer', 'basin', 'region', 'population', 'public_meeting', 'scheme_management', 'permit', 'extraction_type_group', ]

In [63]:
working_df = results[list_of_columns].copy()

In [64]:
working_df.head(6)

,funder,installer,basin,region_code,scheme_management,permit,payment,quality_group,source_class,public_meeting,status_group
0,Roman,Roman,Lake Nyasa,11,VWC,False,pay annually,good,groundwater,True,functional
1,Grumeti,GRUMETI,Lake Victoria,20,Other,True,never pay,good,surface,NaN,functional
2,Lottery Club,World vision,Pangani,21,VWC,True,pay per bucket,good,surface,True,functional
3,Unicef,UNICEF,Ruvuma / Southern Coast,90,VWC,True,never pay,good,groundwater,True,non functional
4,Action In A,Artisan,Lake Victoria,18,NaN,True,never pay,good,surface,True,functional
5,Mkinga Distric Coun,DWE,Pangani,4,VWC,True,pay per bucket,salty,unknown,True,functional

In [65]:
a =working_df['funder'].value_counts().items()
s = list(a)
k= []

for w in s:
    if w[1] > 10:
        k.append(w)
k

[('Government Of Tanzania', 9084),
 ('Danida', 3114),
 ('Hesawa', 2202),
 ('Rwssp', 1374),
 ('World Bank', 1349),
 ('Kkkt', 1287),
 ('World Vision', 1246),
 ('Unicef', 1057),
 ('Tasaf', 877),
 ('District Council', 843),
 ('Dhv', 829),
 ('Private Individual', 826),
 ('Dwsp', 811),
 ('0', 777),
 ('Norad', 765),
 ('Germany Republi', 610),
 ('Tcrs', 602),
 ('Ministry Of Water', 590),
 ('Water', 583),
 ('Dwe', 484),
 ('Netherlands', 470),
 ('Hifab', 450),
 ('Adb', 448),
 ('Lga', 442),
 ('Amref', 425),
 ('Fini Water', 393),
 ('Oxfam', 359),
 ('Wateraid', 333),
 ('Rc Church', 321),
 ('Isf', 316),
 ('Rudep', 312),
 ('Mission', 301),
 ('Private', 295),
 ('Jaica', 280),
 ('Roman', 275),
 ('Rural Water Supply And Sanitat', 270),
 ('Adra', 263),
 ('Ces(gmbh)', 260),
 ('Jica', 259),
 ('Shipo', 241),
 ('Wsdp', 234),
 ('Rc', 230),
 ('Finw', 219),
 ('Dh', 213),
 ('Ded', 198),
 ('Plan Int', 195),
 ('Kiliwater', 189),
 ('Dmdd', 186),
 ('Go', 181),
 ('Lawatefuka Water Supply', 180),
 ('Oxfarm', 176),
 ('Magadini-makiwaru Water', 175),
 ('Fw', 173),
 ('W.B', 170),
 ('Kkkt_makwale', 166),
 ('Ces (gmbh)', 165),
 ('Wvt', 158),
 ('Oikos E.Afrika', 155),
 ('Nethalan', 152),
 ('Mkinga Distric Coun', 150),
 ('Lvia', 147),
 ('Concern World Wide', 145),
 ('Unhcr', 137),
 ('No', 134),
 ('Swedish', 131),
 ('African', 128),
 ('Anglican Church', 126),
 ('Community', 126),
 ('He', 125),
 ('Is', 125),
 ('Ki', 124),
 ('Tardo', 123),
 ('Ir', 123),
 ('Snv', 122),
 ('Wananchi', 122),
 ('Wua', 121),
 ('Roman Catholic', 121),
 ('Unice', 119),
 ('Bsf', 117),
 ('Tassaf', 116),
 ('Co', 111),
 ('Lamp', 110),
 ('Dfid', 110),
 ('Concern', 108),
 ('Muwsa', 107),
 ('Villagers', 106),
 ('Village Council', 105),
 ('Ru', 105),
 ('Halmashauri Ya Wilaya Sikonge', 102),
 ('Hsw', 101),
 ('Germany', 101),
 ('Twe', 97),
 ('Idc', 92),
 ('Tanza', 88),
 ('Missi', 87),
 ('Undp', 86),
 ('Mdrdp', 86),
 ('H', 86),
 ('Aict', 85),
 ('Gtz', 84),
 ('Japan', 82),
 ('Cmsr', 81),
 ('Rc Ch', 80),
 ('Vwc', 78),
 ('Ndrdp', 78),
 ('Kuwait', 72),
 ('Fin Water', 72),
 ('Lwi', 72),
 ('Caritas', 70),
 ('Kkkt Church', 70),
 ('Cdtf', 70),
 ('Padep', 69),
 ('Kaemp', 69),
 ('Kibaha Town Council', 68),
 ('Conce', 68),
 ('Water Aid /sema', 68),
 ('Marafip', 68),
 ('Cefa', 67),
 ('Ncaa', 63),
 ('Commu', 62),
 ('National Rural', 62),
 ('Mkinga  Distric Cou', 62),
 ('Losaa-kia Water Supply', 62),
 ('Md', 61),
 ('Sabemo', 59),
 ('Irish Ai', 59),
 ('Plan International', 57),
 ('Twesa', 56),
 ('Kirde', 54),
 ('St', 54),
 ('Gen', 54),
 ('Tlc', 54),
 ('Idara Ya Maji', 54),
 ('Solidarm', 53),
 ('Kilindi District Co', 53),
 ('Finida German Tanzania Govt', 53),
 ('Grumeti', 53),
 ('Wfp', 52),
 ('Cocen', 52),
 ('Ta', 51),
 ('Tanapa', 51),
 ('China Government', 51),
 ('Sema', 50),
 ('Dwe/norad', 50),
 ('Tabora Municipal Council', 49),
 ('European Union', 48),
 ('Solidame', 48),
 ('Dwssp', 47),
 ('Ridep', 47),
 ('Devon Aid Korogwe', 46),
 ('Dads', 46),
 ('Miziriol', 46),
 ('Acra', 46),
 ('Red Cross', 45),
 ('Shawasa', 45),
 ('Redep', 44),
 ('Abasia', 43),
 ('Tz Japan', 43),
 ('Giz', 42),
 ('Ms', 42),
 ('Serikali', 41),
 ('Donor', 41),
 ('Tdft', 41),
 ('Cafod', 41),
 ('Soda', 40),
 ('Un', 40),
 ('Tredep', 40),
 ('Ka', 39),
 ('Jbg', 38),
 ('Kuwasa', 38),
 ('Songea District Council', 38),
 ('Dasip', 37),
 ('Fathe', 37),
 ('Kidp', 36),
 ('Urt', 36),
 ('W', 36),
 ('Songea Municipal Counci', 35),
 ('Watu Wa Ujerumani', 35),
 ('African Development Bank', 35),
 ('Mbiuwasa', 35),
 ('Islamic Found', 35),
 ('Si', 34),
 ('Water User As', 34),
 ('Ilo', 33),
 ('Ics', 33),
 ('Oikos E.Africa/european Union', 33),
 ('Finn Water', 33),
 ('Holland', 33),
 ('Aar', 33),
 ('Dhv\\norp', 32),
 ('Peters', 32),
 ('Kiuma', 32),
 ('Tuwasa', 32),
 ('The Desk And Chair Foundat', 31),
 ('Biore', 31),
 ('Kanisa Katoliki Lolovoni', 31),
 ('Cspd', 30),
 ('Churc', 30),
 ('Swiss If', 30),
 ('Jika', 30),
 ('Cg', 30),
 ('Kalta', 30),
 ('Po', 30),
 ('Happy Watoto Foundation', 30),
 ('Ga', 30),
 ('Peter Tesha', 30),
 ('World Vision/adra', 29),
 ('Cocern', 29),
 ('Kidep', 29),
 ('Finwater', 29),
 ('Il', 29),
 ('Water Aid/sema', 28),
 ('Sida', 28),
 ('Ereto', 28),
 ('Undp/ilo', 28),
 ('Save The Rain Usa', 28),
 ('Not Known', 27),
 ('Partage', 27),
 ('Halmashauri', 27),
 ('Hw/rc', 27),
 ('Kanisa La Menonite', 27),
 ('Dw', 27),
 ('Songas', 27),
 ('Village Government', 27),
 ('I Wash', 27),
 ('Lips', 27),
 ('Ifad', 27),
 ('Plan Internatio', 26),
 ('Nethe', 26),
 ('Cdcg', 26),
 ('Mileniam Project', 26),
 ('Wwf', 26),
 ('Quwkwin', 26),
 ('Hans', 25),
 ('Hewasa', 25),
 ('Kilwater', 25),
 ('Tacare', 25),
 ('Dadis', 25),
 ('Total Land Care', 25),
 ('Village', 25),
 ('Rc Churc', 25),
 ('Adp', 25),
 ('Kalitasi', 24),
 ('Tanzakesho', 24),
 ('Rished', 24),
 ('Roman Cathoric-same', 24),
 ('Bgm', 24),
 ('Missionaries', 24),
 ('Care International', 24),
 ('Cefa-njombe', 23),
 ('Wd And Id', 23),
 ('Ilct', 23),
 ('Cmcr', 23),
 ('Sabodo', 23),
 ('Rcchurch/cefa', 22),
 ('Luthe', 22),
 ('Mwaya Mn', 22),
 ('Bank', 22),
 ('Village Community', 22),
 ('Singida Yetu', 21),
 ('Swisland/ Mount Meru Flowers', 21),
 ('Killflora', 21),
 ('Vifafi', 21),
 ('Cipro/government', 21),
 ('Msf', 20),
 ('Islamic', 20),
 ('Sekei Village Community', 20),
 ('Norad/ Kidep', 20),
 ('Norad /government', 20),
 ('Rotary Club', 19),
 ('Maji Mugumu', 19),
 ('Efg', 19),
 ('Water Board', 19),
 ('Peace Cope', 19),
 ('Kuamu', 19),
 ('Sowasa', 19),
 ('P', 19),
 ('Dhv Moro', 19),
 ('Dct', 19),
 ('Kadp', 19),
 ('Makonde Water Population', 19),
 ('Magoma Adp', 19),
 ('One Un', 18),
 ('Ham', 18),
 ('Ubalozi Wa Marekani', 18),
 ('Gain', 18),
 ('Pidp', 18),
 ('Cct', 18),
 ('Dasp', 18),
 ('Tanzania', 18),
 ('Eu/acra', 18),
 ('The People Of Japan', 18),
 ('Mbunge', 18),
 ('Asb', 18),
 ('Idydc', 17),
 ('Father Bonifasi', 17),
 ('Drdp Ngo', 17),
 ('Msabi', 17),
 ('Sdg', 17),
 ('Bahewasa', 17),
 ('Mdc', 17),
 ('Bened', 17),
 ('Sumbawanga Munici', 17),
 ('Mkuyu', 17),
 ('Ukiligu', 17),
 ('Tasaf/dmdd', 17),
 ('Msikiti', 16),
 ('Livin', 16),
 ('Finland Government', 16),
 ('Pmo', 16),
 ('Lwiji Italy', 16),
 ('Ruthe', 16),
 ('Rwsp', 16),
 ('Quick Wings', 16),
 ('Tahea', 16),
 ('Bruder', 16),
 ('Mi', 16),
 ('Rdc', 16),
 ('Sda', 16),
 ('Isf/government', 16),
 ('Tado', 16),
 ('Shule', 15),
 ('African Relie', 15),
 ('Roman Cathoric Same', 15),
 ('African Muslim Agency', 15),
 ('Elct', 15),
 ('Dar Al Ber', 15),
 ('Fpct', 15),
 ('Us Embassy', 15),
 ('Quick Wins', 15),
 ('Resolute Mining', 15),
 ('Finland', 15),
 ('A/co Germany', 15),
 ('Living Water International', 14),
 ('Mamad', 14),
 ('Dassip', 14),
 ('Adp Mombo', 14),
 ('Private Owned', 14),
 ('Imf', 14),
 ('Isf/tacare', 14),
 ('Roman Catholic Rulenge Diocese', 14),
 ('Sao H', 14),
 ('Roman Church', 14),
 ('Olgilai Village Community', 14),
 ('Wfp/tnt/usaid', 14),
 ('Rc Church/centr', 14),
 ('Isingiro Ho', 14),
 ('Benguka', 13),
 ('Rada', 13),
 ('Ba As', 13),
 ('Maxavella', 13),
 ('Village Council/ Haydom Luther', 13),
 ('Undp/aict', 13),
 ('Jeica', 13),
 ('Halmashauri Ya Manispa Tabora', 13),
 ('Rural Water Supply And Sanita', 13),
 ('Aic', 13),
 ('Tassaf I', 13),
 ('Water Project Mbawala Chini', 13),
 ('Mosque', 13),
 ('Qwiqwi', 13),
 ('Bulyahunlu Gold Mine', 13),
 ('Aco/germany', 13),
 ('Franc', 13),
 ('The Isla', 13),
 ('Lgcdg', 13),
 ('Msf/tacare', 13),
 ('Canada', 12),
 ('Ai', 12),
 ('Af', 12),
 ('Tridep', 12),
 ('Secondary', 12),
 ('Prf', 12),
 ('National Rural And Hfa', 12),
 ('Mh An', 12),
 ('Lifetime', 12),
 ('Lutheran Church', 12),
 ('Kwikwiz', 12),
 ('Rips', 12),
 ('Kinapa', 12),
 ('Lowasa', 12),
 ('Institution', 12),
 ('Qwickwin', 12),
 ('Oxfam Gb', 12),
 ('Wfp/tnt', 11),
 ('Dak', 11),
 ('Idea', 11),
 ('Finidagermantanzania Govt', 11),
 ('Germany Misionary', 11),
 ('Unicef/central', 11),
 ('Government/ Community', 11)]

In [66]:
k[0]

('Government Of Tanzania', 9084)

In [67]:
# v = working_df['funder'].value_counts()
# working_df['funder_new'] =working_df[df['funder'].isin(v.index[v.gt(5)])]

In [68]:
working_df['installer'].value_counts()

DWE                   17402
Government             1825
RWE                    1206
Commu                  1060
DANIDA                 1050
                      ...
p                         1
GLOBAL RESOURCE CO        1
WDE                       1
Kambi Migoko              1
SOLIDARM                  1
Name: installer, Length: 2145, dtype: int64

In [69]:
working_df.isna().sum()

funder               3635
installer            3655
basin                   0
region_code             0
scheme_management    3877
permit               3056
payment                 0
quality_group           0
source_class            0
public_meeting       3334
status_group            0
dtype: int64

In [70]:
working_df.dropna(axis =0 ,inplace=True)

In [71]:
working_df.isna().sum()

funder               0
installer            0
basin                0
region_code          0
scheme_management    0
permit               0
payment              0
quality_group        0
source_class         0
public_meeting       0
status_group         0
dtype: int64

In [72]:
working_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48651 entries, 0 to 59399
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   funder             48651 non-null  object
 1   installer          48651 non-null  object
 2   basin              48651 non-null  object
 3   region_code        48651 non-null  int64
 4   scheme_management  48651 non-null  object
 5   permit             48651 non-null  object
 6   payment            48651 non-null  object
 7   quality_group      48651 non-null  object
 8   source_class       48651 non-null  object
 9   public_meeting     48651 non-null  object
 10  status_group       48651 non-null  object
dtypes: int64(1), object(10)
memory usage: 4.5+ MB

In [73]:
# w_df = pd.concat([working_df, onehotencoder('funder' , working_df)  ], axis =1)

In [74]:
# w_df2 = pd.concat([w_df, onehotencoder('installer' , results)])
# panda astype in

In [75]:
from sklearn.preprocessing import OrdinalEncoder
permit_new = working_df[['permit']]
encoder = OrdinalEncoder()
encoder.fit(permit_new)
encoded_permit = encoder.transform(permit_new)
encoded_permit = encoded_permit.flatten()
working_df.permit = encoded_permit

In [76]:
working_df

,funder,installer,basin,region_code,scheme_management,permit,payment,quality_group,source_class,public_meeting,status_group
0,Roman,Roman,Lake Nyasa,11,VWC,0.0,pay annually,good,groundwater,True,functional
2,Lottery Club,World vision,Pangani,21,VWC,1.0,pay per bucket,good,surface,True,functional
3,Unicef,UNICEF,Ruvuma / Southern Coast,90,VWC,1.0,never pay,good,groundwater,True,non functional
5,Mkinga Distric Coun,DWE,Pangani,4,VWC,1.0,pay per bucket,salty,unknown,True,functional
6,Dwsp,DWSP,Internal,17,VWC,1.0,never pay,good,groundwater,True,non functional
...,...,...,...,...,...,...,...,...,...,...,...
59394,World Bank,ML appro,Wami / Ruvu,5,VWC,1.0,pay monthly,good,groundwater,True,non functional
59395,Germany Republi,CES,Pangani,3,Water Board,1.0,pay per bucket,good,groundwater,True,functional
59396,Cefa-njombe,Cefa,Rufiji,11,VWC,1.0,pay annually,good,surface,True,functional
59398,Malec,Musa,Rufiji,1,VWC,1.0,never pay,good,groundwater,True,functional
59399,World Bank,World,Wami / Ruvu,5,VWC,1.0,pay when scheme fails,salty,groundwater,True,functional

In [77]:
a =onehotencoder('funder' , working_df)
b = onehotencoder('installer' , working_df)
c = onehotencoder('basin' , working_df)
d = onehotencoder('region_code' , working_df)
e = onehotencoder('scheme_management' , working_df)
f = onehotencoder('payment' , working_df)
g =onehotencoder('quality_group' , working_df)
h = onehotencoder('source_class' , working_df)
i = onehotencoder('public_meeting' , working_df)

In [78]:
w_df = pd.concat([working_df, a, b,c,d,e,f,g,h,i], axis =1)

In [79]:
w_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48651 entries, 0 to 59399
Columns: 3464 entries, funder to public_meeting_True
dtypes: float64(3454), int64(1), object(9)
memory usage: 1.3+ GB

In [80]:
w_df.isna().sum()

funder                      0
installer                   0
basin                       0
region_code                 0
scheme_management           0
                           ..
source_class_groundwater    0
source_class_surface        0
source_class_unknown        0
public_meeting_False        0
public_meeting_True         0
Length: 3464, dtype: int64

In [81]:
w_df.head()

,funder,installer,basin,region_code,scheme_management,permit,payment,quality_group,source_class,public_meeting,...,quality_group_fluoride,quality_group_good,quality_group_milky,quality_group_salty,quality_group_unknown,source_class_groundwater,source_class_surface,source_class_unknown,public_meeting_False,public_meeting_True
0,Roman,Roman,Lake Nyasa,11,VWC,0.0,pay annually,good,groundwater,True,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,Lottery Club,World vision,Pangani,21,VWC,1.0,pay per bucket,good,surface,True,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,Unicef,UNICEF,Ruvuma / Southern Coast,90,VWC,1.0,never pay,good,groundwater,True,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
5,Mkinga Distric Coun,DWE,Pangani,4,VWC,1.0,pay per bucket,salty,unknown,True,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
6,Dwsp,DWSP,Internal,17,VWC,1.0,never pay,good,groundwater,True,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [82]:
w_df.drop(['funder', 'installer', 'basin', 'region_code', 'scheme_management', 'payment', 'quality_group', 'source_class', 'public_meeting'], axis=1, inplace=True)

In [83]:
w_df.head()

,permit,status_group,funder_0,funder_A/co Germany,funder_Aar,funder_Abas Ka,funder_Abasia,funder_Abc-ihushi Development Cent,funder_Abd,funder_Abdul,...,quality_group_fluoride,quality_group_good,quality_group_milky,quality_group_salty,quality_group_unknown,source_class_groundwater,source_class_surface,source_class_unknown,public_meeting_False,public_meeting_True
0,0.0,functional,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,1.0,functional,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,1.0,non functional,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
5,1.0,functional,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
6,1.0,non functional,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [84]:
w_df['status_group'].value_counts()

functional                 26720
non functional             18432
functional needs repair     3499
Name: status_group, dtype: int64

In [85]:
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns
from scipy import stats as stats

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import precision_score, recall_score
from sklearn.model_selection import  GridSearchCV,\
cross_val_score, RandomizedSearchCV, train_test_split

In [86]:
X = w_df.drop(columns='status_group', axis = 1)
y = w_df['status_group']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
dt = DecisionTreeClassifier(random_state=10)
dt.fit(X_train, y_train)

In [ ]:
dt.score(X_test, y_test)

In [ ]:
grid = {
    'criterion' : ['entropy', 'gini'],
    'max_depth': [10, 15, 20, None]
}
gs = GridSearchCV(estimator=dt , param_grid=grid, cv=5)
gs.fit(X_train, y_train)

In [ ]:
gs.best_params_

In [ ]:
gs = GridSearchCV(estimator=knn_model, param_grid=grid, cv=5)

In [ ]:
gs.fit(X_train,y_train)

In [ ]:
gs.best_params_

In [ ]:
gs.best_score_

In [ ]:
gs.best_estimator_.score(X_test, y_test)

In [ ]:
gs.cv_results_

In [ ]:
list_of_columns = ['funder', 'installer', 'basin', 'region_code', 'scheme_management', 'permit', 'construction_year', 'payment', 'quality_group', 'source_class', 'public_meeting'] 
X = re