In [1]:
import pandas as pd
df = pd.read_csv("Training_set_values.csv")

In [2]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [3]:
df1 = pd.read_csv("Test_set_values.csv")
df1.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe

In [4]:
len(df)

59400

In [5]:
len(df1)

14850

In [6]:
df['amount_tsh'].value_counts()

0.0         41639
500.0        3102
50.0         2472
1000.0       1488
20.0         1463
            ...
8500.0          1
6300.0          1
220.0           1
138000.0        1
12.0            1
Name: amount_tsh, Length: 98, dtype: int64

In [7]:
df2 = pd.read_csv('Training_set_labels.csv')
df2.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [8]:
len(df2)

59400

In [9]:
df2['status_group'].value_counts()

functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

In [10]:
results = pd.merge(df, df2, how = 'inner', on = 'id'  )

In [11]:
results.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [21]:
results['water_quality'].value_counts()

soft                  50818
salty                  4856
unknown                1876
milky                   804
coloured                490
salty abandoned         339
fluoride                200
fluoride abandoned       17
Name: water_quality, dtype: int64

In [25]:
results.loc[results['water_quality']== 'fluoride', ['status_group']].value_counts()

status_group
functional                 151
non functional              36
functional needs repair     13
dtype: int64

In [26]:
results.loc[results['water_quality']== 'soft', ['status_group']].value_counts()

status_group
functional                 28760
non functional             18154
functional needs repair     3904
dtype: int64

In [27]:
results.loc[results['water_quality']== 'salty', ['status_group']].value_counts()

status_group
non functional             2411
functional                 2220
functional needs repair     225
dtype: int64

In [28]:
results.loc[results['water_quality']== 'milky', ['status_group']].value_counts()

status_group
functional                 438
non functional             352
functional needs repair     14
dtype: int64

In [29]:
results.loc[results['water_quality']== 'coloured', ['status_group']].value_counts()

status_group
functional                 246
non functional             190
functional needs repair     54
dtype: int64

In [12]:
# from sklearn.preprocessing import OneHotEncoder
# def onehotencoder(column , df):
#     column_name = df[[column_name]]
#     column_name_ohe = df[[column_name]]
#     ohe = OneHotEncoder(categories = 'auto', sparse = False)
#     column_transformed = ohe.fit_tranform(column_name_ohe)
#     column_encoded_ohe = pd.DataFrame(columns_transformed, columns = ohe.get_feature_names([column_name]), index = df.id)
#     return column_encoded_ohe

In [16]:
from sklearn.preprocessing import OneHotEncoder
def onehotencoder(column_name, df):
    column_name_ohe = df[[column_name]]
    ohe = OneHotEncoder(categories = 'auto', sparse = False)
    ohe.fit(column_name_ohe)
    column_transformed = ohe.transform(column_name_ohe)
    column_encoded_ohe = pd.DataFrame(column_transformed, columns = ohe.get_feature_names([column_name]), index = df.id)
    return column_encoded_ohe

In [20]:
onehotencoder('water_quality' , results)

,water_quality_coloured,water_quality_fluoride,water_quality_fluoride abandoned,water_quality_milky,water_quality_salty,water_quality_salty abandoned,water_quality_soft,water_quality_unknown
id,,,,,,,,
69572,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8776,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34310,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
67743,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
19728,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
60739,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
27263,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
37057,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
31282,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
26348,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [ ]:
results['permit'].value_counts()

In [ ]:
results.loc[(results['permit'] == True),['status_group']].value_counts()

In [ ]:
results.loc[(results['permit'] == False),['status_group']].value_counts()

In [ ]:
amount. gps, lat.lomg , comnst, pay, qualit, soucr, wat, per quant, id