In [1]:
import pandas as pd
df = pd.read_csv("Training_set_values.csv")

In [2]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [3]:
df1 = pd.read_csv("Test_set_values.csv")
df1.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe

In [4]:
len(df)

59400

In [5]:
len(df1)

14850

In [6]:
df['amount_tsh'].value_counts()

0.0         41639
500.0        3102
50.0         2472
1000.0       1488
20.0         1463
            ...
8500.0          1
6300.0          1
220.0           1
138000.0        1
12.0            1
Name: amount_tsh, Length: 98, dtype: int64

In [7]:
df2 = pd.read_csv('Training_set_labels.csv')
df2.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [8]:
len(df2)

59400

In [9]:
df2['status_group'].value_counts()

functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

In [10]:
results = pd.merge(df, df2, how = 'inner', on = 'id'  )

In [11]:
results.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [12]:
results['water_quality'].value_counts()

soft                  50818
salty                  4856
unknown                1876
milky                   804
coloured                490
salty abandoned         339
fluoride                200
fluoride abandoned       17
Name: water_quality, dtype: int64

In [13]:
results.loc[results['water_quality']== 'fluoride', ['status_group']].value_counts()

status_group
functional                 151
non functional              36
functional needs repair     13
dtype: int64

In [14]:
results.loc[results['water_quality']== 'soft', ['status_group']].value_counts()

status_group
functional                 28760
non functional             18154
functional needs repair     3904
dtype: int64

In [15]:
results.loc[results['water_quality']== 'salty', ['status_group']].value_counts()

status_group
non functional             2411
functional                 2220
functional needs repair     225
dtype: int64

In [16]:
results.loc[results['water_quality']== 'milky', ['status_group']].value_counts()

status_group
functional                 438
non functional             352
functional needs repair     14
dtype: int64

In [17]:
results.loc[results['water_quality']== 'coloured', ['status_group']].value_counts()

status_group
functional                 246
non functional             190
functional needs repair     54
dtype: int64

In [18]:
# from sklearn.preprocessing import OneHotEncoder
# def onehotencoder(column , df):
#     column_name = df[[column_name]]
#     column_name_ohe = df[[column_name]]
#     ohe = OneHotEncoder(categories = 'auto', sparse = False)
#     column_transformed = ohe.fit_tranform(column_name_ohe)
#     column_encoded_ohe = pd.DataFrame(columns_transformed, columns = ohe.get_feature_names([column_name]), index = df.id)
#     return column_encoded_ohe

In [19]:
from sklearn.preprocessing import OneHotEncoder
def onehotencoder(column_name, df):
    column_name_ohe = df[[column_name]]
    ohe = OneHotEncoder(categories = 'auto', sparse = False)
    ohe.fit(column_name_ohe)
    column_transformed = ohe.transform(column_name_ohe)
    column_encoded_ohe = pd.DataFrame(column_transformed, columns = ohe.get_feature_names([column_name]), index = df.id)
    return column_encoded_ohe

In [20]:
onehotencoder('water_quality' , results)

,water_quality_coloured,water_quality_fluoride,water_quality_fluoride abandoned,water_quality_milky,water_quality_salty,water_quality_salty abandoned,water_quality_soft,water_quality_unknown
id,,,,,,,,
69572,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8776,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34310,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
67743,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
19728,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
60739,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
27263,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
37057,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
31282,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
26348,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [21]:
results['permit'].value_counts()

True     38852
False    17492
Name: permit, dtype: int64

In [22]:
results.loc[(results['permit'] == True),['status_group']].value_counts()

status_group
functional                 21541
non functional             14614
functional needs repair     2697
dtype: int64

In [23]:
results.loc[(results['permit'] == False),['status_group']].value_counts()

status_group
functional                 9045
non functional             7127
functional needs repair    1320
dtype: int64

In [ ]:
# amount. gps, lat.lomg , comnst, pay, qualit, soucr, wat, per quant, id

In [24]:
results.columns

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group', 'status_group'],
      dtype='object')

In [ ]:
results['date_recorded'].value_counts()
# dates recorded shows when the information was taken and so not very useful since it gives no 
# updates on whether the pump was worked on or not. therefore dropped

In [37]:
results['funder'].value_counts()

Government Of Tanzania           9084
Danida                           3114
Hesawa                           2202
Rwssp                            1374
World Bank                       1349
                                 ...
Yasini Selemani                     1
Vgovernment                         1
Domestic Rural Development Pr       1
Ilaramataki                         1
Norway Aid                          1
Name: funder, Length: 1897, dtype: int64

In [30]:
results.loc[(results['funder'] == 'Government Of Tanzania'),['status_group']].value_counts()

status_group
non functional             4663
functional                 3720
functional needs repair     701
dtype: int64

In [38]:
results.loc[(results['funder'] == 'Danida'),['status_group']].value_counts()

status_group
functional                 1713
non functional             1242
functional needs repair     159
dtype: int64

In [39]:
results.loc[(results['funder'] == 'Hesawa'),['status_group']].value_counts()

status_group
non functional             1034
functional                  936
functional needs repair     232
dtype: int64

In [41]:
results['basin'].value_counts()

Lake Victoria              10248
Pangani                     8940
Rufiji                      7976
Internal                    7785
Lake Tanganyika             6432
Wami / Ruvu                 5987
Lake Nyasa                  5085
Ruvuma / Southern Coast     4493
Lake Rukwa                  2454
Name: basin, dtype: int64

In [47]:
results['region'].value_counts()

Iringa           5294
Shinyanga        4982
Mbeya            4639
Kilimanjaro      4379
Morogoro         4006
Arusha           3350
Kagera           3316
Mwanza           3102
Kigoma           2816
Ruvuma           2640
Pwani            2635
Tanga            2547
Dodoma           2201
Singida          2093
Mara             1969
Tabora           1959
Rukwa            1808
Mtwara           1730
Manyara          1583
Lindi            1546
Dar es Salaam     805
Name: region, dtype: int64

In [60]:
results['region_code'].value_counts()

11    5300
17    5011
12    4639
3     4379
5     4040
18    3324
19    3047
2     3024
16    2816
10    2640
4     2513
1     2201
13    2093
14    1979
20    1969
15    1808
6     1609
21    1583
80    1238
60    1025
90     917
7      805
99     423
9      390
24     326
8      300
40       1
Name: region_code, dtype: int64

In [64]:
results['lga'].unique()

AttributeError: 'numpy.ndarray' object has no attribute 'counts'

In [58]:
results['population'].value_counts()

0       21381
1        7025
200      1940
150      1892
250      1681
        ...
3241        1
1960        1
1685        1
2248        1
1439        1
Name: population, Length: 1049, dtype: int64

In [59]:
results.loc[(results['population'] == 0),['status_group']].value_counts()

status_group
functional                 11274
non functional              8332
functional needs repair     1775
dtype: int64

In [62]:
results['management'].value_counts()

vwc                 40507
wug                  6515
water board          2933
wua                  2535
private operator     1971
parastatal           1768
water authority       904
other                 844
company               685
unknown               561
other - school         99
trust                  78
Name: management, dtype: int64

In [63]:
results.loc[(results['management'] == 'vwc'),['status_group']].value_counts()

status_group
functional                 20425
non functional             17291
functional needs repair     2791
dtype: int64

In [69]:
results['extraction_type'].value_counts()

gravity                      26780
nira/tanira                   8154
other                         6430
submersible                   4764
swn 80                        3670
mono                          2865
india mark ii                 2400
afridev                       1770
ksb                           1415
other - rope pump              451
other - swn 81                 229
windmill                       117
india mark iii                  98
cemo                            90
other - play pump               85
walimi                          48
climax                          32
other - mkulima/shinyanga        2
Name: extraction_type, dtype: int64

In [70]:
results['extraction_type_group'].value_counts()

gravity            26780
nira/tanira         8154
other               6430
submersible         6179
swn 80              3670
mono                2865
india mark ii       2400
afridev             1770
rope pump            451
other handpump       364
other motorpump      122
wind-powered         117
india mark iii        98
Name: extraction_type_group, dtype: int64

In [71]:
results['extraction_type_class'].value_counts()

gravity         26780
handpump        16456
other            6430
submersible      6179
motorpump        2987
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64

In [72]:
results.loc[(results['extraction_type_class'] == 'gravity'),['status_group']].value_counts()

status_group
functional                 16048
non functional              8031
functional needs repair     2701
dtype: int64

In [75]:
results['scheme_management'].value_counts()

VWC                 36793
WUG                  5206
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [ ]:
results.loc[(results['scheme_management'] == ''),['status_group']].value_counts()

In [76]:
results['payment'].value_counts()

never pay                25348
pay per bucket            8985
pay monthly               8300
unknown                   8157
pay when scheme fails     3914
pay annually              3642
other                     1054
Name: payment, dtype: int64

In [77]:
results.loc[(results['payment'] == 'never pay'),['status_group']].value_counts()

status_group
non functional             12062
functional                 11379
functional needs repair     1907
dtype: int64

In [78]:
results['payment_type'].value_counts() #same as payment

never pay     25348
per bucket     8985
monthly        8300
unknown        8157
on failure     3914
annually       3642
other          1054
Name: payment_type, dtype: int64

In [79]:
results['water_quality'].value_counts()

soft                  50818
salty                  4856
unknown                1876
milky                   804
coloured                490
salty abandoned         339
fluoride                200
fluoride abandoned       17
Name: water_quality, dtype: int64

In [81]:
results.loc[(results['water_quality'] == 'soft'),['status_group']].value_counts()

status_group
functional                 28760
non functional             18154
functional needs repair     3904
dtype: int64

In [82]:
results['quality_group'].value_counts()

good        50818
salty        5195
unknown      1876
milky         804
colored       490
fluoride      217
Name: quality_group, dtype: int64

In [83]:
results['source'].value_counts()

spring                  17021
shallow well            16824
machine dbh             11075
river                    9612
rainwater harvesting     2295
hand dtw                  874
lake                      765
dam                       656
other                     212
unknown                    66
Name: source, dtype: int64

In [84]:
results.loc[(results['source'] == 'spring'),['status_group']].value_counts()

status_group
functional                 10592
non functional              5153
functional needs repair     1276
dtype: int64

In [85]:
results['source_type'].value_counts()

spring                  17021
shallow well            16824
borehole                11949
river/lake              10377
rainwater harvesting     2295
dam                       656
other                     278
Name: source_type, dtype: int64

In [87]:
results['source_class'].value_counts()

groundwater    45794
surface        13328
unknown          278
Name: source_class, dtype: int64

In [88]:
results.loc[(results['source_class'] == 'groundwater'),['status_group']].value_counts()

status_group
functional                 24835
non functional             18218
functional needs repair     2741
dtype: int64

In [92]:
results['waterpoint_type_group'].value_counts()

communal standpipe    34625
hand pump             17488
other                  6380
improved spring         784
cattle trough           116
dam                       7
Name: waterpoint_type_group, dtype: int64

In [93]:
results.loc[(results['public_meeting'] == True),['status_group']].value_counts()

status_group
functional                 28408
non functional             18884
functional needs repair     3719
dtype: int64